#nav-list {
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: white;
}

#nav-list a:hover {
    background: #E7E7E7;
}

hr {
    margin: 0px;
}

h1 {
    color: darkgreen;
}

section {
    height: 2000px;
    margin: 10px;
    background-color: rgb(98, 173, 98);
    border: black solid 1px;
}

section > p {
    padding: 15px;
    font-size: 1.2em;
}

